@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark02 */
.text-grey{
    color: #424242;
}
/* dark03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
.section-titile{
    font-size: 2.80rem;
    font-weight: 700;
}

/* header style */



/* nav bar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.80rem;
    font-weight: 700;
}
.nav-links{
    font-size: 1.10rem;
    gap: 3rem;
}
.nav-link{
    text-decoration: none;
    
}
.nav-item{
   list-style: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related  style*/
.banner-containt{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-image{
    max-width: 100%;
}

/* team and features related style */

.teams{
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    margin-left: 90px;
    max-width: 540px;
}

#Quick-list{
    font-weight: 500;
}
#Features{
    color: #FF900E;
}

/* facts related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.80rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams{
      flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
        margin-top: 20px;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 50px auto;
    }
}